.main {
  width: 100%;
  height: 100px;
  background-color: white;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: left;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  position: fixed;
  padding-top: 1%;
  padding-left: 10%;
  gap: 20px;
}
.main h1 {
  text-size-adjust: 100px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px 0 rgb(32, 32, 32), 0 1px rgb(32, 32, 32),
    1px 0 rgb(32, 32, 32), 0 -1px rgb(32, 32, 32);
}

.main img {
  width: 100%;
  height: 80px;
}
